@media (max-width: 1000px) {
	.top-wrapper h1 {
	  font-size: 32px;
	}
	
	.lesson {
	  width: 50%;
	  margin-bottom: 50px;
	}
}
		

@media (max-width: 670px) {
	.header-right {
	  display: none;
	}
	
	.menu-icon {
	  display: block;
	}
	
	.btn {
	  width: 100%;
	}
	
	.top-wrapper {
	  text-align: left;
	}
	
	.top-wrapper h1 {
	  font-size: 24px;
	  line-height: 36px;
	}
	
	.lesson {
	  width: 100;
	}
	
	footer {
	  text-align: center;
	}
	  
}
